<div class="container mt-5">
    <h2 class="text-center">Weather Search</h2>
    <form (submit)="searchWeather()" style="max-width: 400px;">
        <label for="city" class="sr-only">City:</label>
        <input type="text" class="form-control mt-2" id="city" name="city" [(ngModel)]="city" placeholder="Enter City"
            required />
        <button type="submit" class="btn btn-primary mt-3">Search</button>
    </form>

    <div *ngIf="weather" class="mt-5">
        <h3>Weather for {{ weather.city }}, {{ weather.country }}</h3>

        <div class="row">
            <div *ngFor="let day of weather.forecast" class="col-md-2">
                <div class="card text-center mt-3" style="height: 90%;">
                    <div class="card-body">
                        <p class="card-title">{{ day.date | date: 'EEEE' }}, {{ day.date | date: 'shortTime' }}</p>
                        <h2 class="card-text">{{ day.temp }}°C</h2>
                        <p class="card-text">{{ day.weather }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>